<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head><title>Warehouses</title></head>
<section>
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Warehouse List</h4>
      <a href="/inventory/warehouses/new" class="btn btn-outline-primary">+ Add Warehouse</a>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-bordered mb-0">
          <thead class="table-secondary">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <!-- We can add here more  fields ! -->
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="wh : ${warehouses}">
            <td th:text="${wh.id}"></td>
            <td th:text="${wh.name}"></td>
            <td>
              <a th:href="@{'/inventory/warehouses/edit/' + ${wh.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
              <form th:action="@{/inventory/warehouses/delete}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${wh.id}" />
                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</html>
